<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pw.sgalazka.inz">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".InzApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.BeginPanel"
            android:label="@string/app_name"
            android:theme="@style/noTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scanner.Scanner"
            android:label="@string/title_activity_scanner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".devicesList.BTDevicesList"
            android:label="@string/title_activity_btdevices_list" />
        <activity
            android:name=".activities.ScanProduct"
            android:label="@string/title_activity_scan_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.TypeProductBarcode" />
        <activity android:name=".activities.AddToDatabase" />
        <activity
            android:name=".productList.ProductList"
            android:label="@string/title_activity_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".productList.ProductListChooser" />
    </application>

</manifest>
